.img_style_dashed {
    background: blue;
    border: 2px dashed grey;
    vertical-align: top;
}

.img1_style_double {
    background: blue;
    border: thick double grey;
    vertical-align: bottom;
}

.img2_style_dotted {
    background: blue;
    border: 2px dotted grey;
    vertical-align: middle;
}

.img3_style_solid {
    background: blue;
    border: 2px solid grey;
    vertical-align: -96px;
}

.p_margin {
    margin: 16px, 32px, 64px;
}